{% load static %}  <!-- Dodaj to na początku pliku! -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Car Rental{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="layout">
        <header>
            <h1>Car Rental</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'cars:index' %}">Strona główna</a></li>
                    <li><a href="{% url 'cars:category_list' %}">Kategorie</a></li>
                    {% if request.user.is_authenticated %}
                        <!-- Możesz dodać inne opcje dla zalogowanych użytkowników tutaj -->
                    {% else %}
                        <li><a href="{% url 'users:login' %}">Zaloguj się</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2025 CarRental.pl</p>
        </footer>
    </div>
</body>
</html>
