{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Car Rental{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="layout">
        <header>
            <h1>Car Rental</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'cars:index' %}">Strona główna</a></li>
                    <li><a href="{% url 'cars:category_list' %}">Kategorie</a></li>
                    <li><a href="{% url 'cars:car' 0 %}">Samochody</a></li>
                </ul>
            </nav>
            <div class="user-menu">
                {% if request.user.is_authenticated %}
                    <ul>
                        <li><a href="{% url 'cars:orders' %}">Moje zamówienia</a></li>
                        <li><a href="{% url 'users:logout' %}">Wyloguj się</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="{% url 'users:login' %}">Zaloguj się</a></li>
                        <li><a href="{% url 'users:register' %}">Załóż konto</a></li>
                    </ul>
                {% endif %}
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 CarRental.pl</p>
        </footer>
    </div>
</body>
</html>
