<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Car Rental</title>
</head>
<body>
    <h1>Welcome to Car Rental</h1>
    <p>Wybierz kategorię samochodu.</p>
    <a href="{% url 'cars:category_list' %}">Zobacz kategorie</a>
</body>
</html>

